body {
  margin: 0 auto;
  max-width: 432px;
  max-height: 768px;
}
main {
  text-align: center;
}
.hideMenu{
  height: 0px;
  overflow: hidden;
}
.showMenu{
  width: 80vw;
  position: absolute;
  height: 100vh;
  background-color: black;
  color: #FFF;
}
button{
  cursor: pointer;
}
