body {
  margin: 0 auto;
  max-width: 432px;
  max-height: 768px;
}

main {
  text-align: center;
}

.hidden {
  height: 0px;
  overflow: hidden;
}

.menu {
  position: absolute;
  height: auto;
}

button {
  cursor: pointer;
}
